
body {
    position: relative;
    background-color: color-mix(in srgb, rgb(113, 219, 113),pink 70%);
    /*background-color: color-mix(in srgb, rgb(113, 219, 113) 75%, transparent);*/
}

.backg {
    background-image: url('webPa.jpg');
    background-size: 100% 100%;
    font-size: bold;
    flex-shrink: 0;
    color: white;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    
}

.terplo {
    
    width: 80%;
    padding-top: 20%;
    padding-bottom: 15%;
    margin-top: 5%;
    margin-left: 8%;
    font-size: 50px;
    font-weight: 900;
    font-style: italic;
    color: green;
}

.terplo1 {
    
    width: 80%;
    padding-top: 2%;
    padding-bottom: 3%;
    margin-top: 5%;
    margin-left: 8%;
    background-color: black;
    opacity: 0.8;
    border-radius: 2vh;
}

.terplo2 {
    
    width: 50%;
    height: 30vh;
    padding-top: 1%;
    padding-bottom: 10%;
    padding-left: 4%;
    margin-top: 8%;
    margin-left: 18%;
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    color: green;
    background-color: black;
    opacity: 0.8;
    border-radius: 2vh;
}



.plac {
    display: flex;
    align-items: center;
    justify-content: center ;
}

button {
    margin-left: 1em;
    border-radius: 1rem;
    background-color: color-mix(in srgb, #0098ef, gold 40%);
    color: white;
    padding: 1.5em 4em;
}

.buttns {
    margin-top: 9px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    gap: 60px;
}

header {
    position: relative;
    
}

nav {
    position: fixed;
    width: 80%;
}



.mainSvg {
    display: flex;
    justify-content: end;
    gap: 30px;
}

.projects {
    display: grid;
    /*grid-template-columns: repeat(2, minmax(20px, 0.5fr)); */
    grid-template-columns: repeat(2, 1fr);
    margin: 4% 17%;
    column-gap: 4%;
    height: 80vh;
    width: 60%;
    background-color: color-mix(in srgb, rgb(87, 156, 87), rgb(65, 63, 57) 80%);
    border-radius: 2vh;
    padding: 1em;
}

.Cards {
    text-align: left;
    padding: 0 10px;
    border: 5px solid white; 
    background-color: white;
    box-shadow: 
        /*inset 0 -3em 3em rgb(0 200 0 / 30%),*/
        0 0 0 2px white,
        0.3em 0.3em 1em rgb(218, 225, 231);
    border-radius: 1vh;
    border-left-color: orange;
    font-size: 18px;
    width: 60%;
    height: 70%;
    margin-left: 15%;
    margin-top: 10%;
}

.title {
    font-size: 24px;
    font-weight: bold;
}